.header {
    display:grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 92px 50px 92px 50px;
}

.header_logo-image {
    max-height: 105px;
}

.header .adress {
    justify-self: flex-end;
}

.header_links-list {
    width:100%;
    display:flex;
    gap:32px;
}

.header_links-list-item {
    list-style-type: circle;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header_links-list-item:last-child {
    padding-right:0;
}

.header_link {
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.header_link_active {
    text-decoration: none;
}

.adress a, .adress p {
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    
}

.adress {
  display: flex;
  flex-direction:column;
  flex-wrap:nowrap;
}

.contact {
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.cover {
    position:relative;
    width: 100%;
    height:100%;
    background: url("../images/cover.jpg") no-repeat center / cover;
    
}

.overlay {
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width:100%;
    position:absolute;
    z-index: 1;
}

.cover__title {
    position:relative;
    z-index: 3;
    display: flex;
    gap:20px;
    justify-content: center;
    flex-direction: column;
    padding-top: 165px;
    padding-bottom:135px;
    padding: 165px 50px 135px 50px;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
}

.letter-spacing-extended {
    letter-spacing:60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.letter-spacing {
    letter-spacing: 30px;
}

.aligned-text {
    display: flex;
    justify-content: flex-start;
    line-height: 115%;
    width:100%;
    height:100%;
}

.aligned-text_center {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    padding-right: 60px;
}

.aligned-text_right {
    display: flex;
    justify-content: flex-end;
    height:100%;
    width: 100%;
}

.cover__description {
    position:relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px 50px 50px;
    gap: 80px;
    z-index:3;
}

.cover__description-text {
    word-spacing: 20px;
    color: #FFF;
    align-self:center;
    text-align: center;
    font-family: Raleway, Arial, sans-seriff;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    justify-items: center;
}

.bet-button {
    border: 1px solid #FFF;
    background:none;
    padding: 12px 32px 12px 32px;
    z-index:3;
    color: #FFF;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.lots {
    padding: 180px 50px 0;
    height:100%;
}
  
.lots__heading {
    text-align: left;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left:40px;
    margin-bottom: 27px;
}
  
.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    width:100%;
    gap:25px;
}
  
.lots__card-list-item {
    flex-grow: 1;
    min-height:450px;
    width: 430px;
}
  
.card-link {
    display: flex;
    text-decoration: none;
    height:100%;
    width: 100%;
}
  
.card {
    width:100%;
    color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    position:relative;
}

.card_type_film {
    background: url("../images/card-lot-01.jpg") no-repeat center / 100%;
}

.card_type_book {
    background: url("../images/card-lot-02.jpg") no-repeat center / 100%;
}

.card_type_picture {
    background: url("../images/card-lot-03.jpg") no-repeat center / 100%;
}

.card_title,
.card_text {
    z-index: 2;
}

.card_flex {
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    justify-content: space-between;
    align-content:space-around;
    padding: 50px 40px 50px 40px;
}

.card_title {
    width:100%;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-transform: uppercase;
}

.card_text {
    width:100%;
    flex-shrink: 0;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.lots__look-more-link {
    width:100%;
    height:100%;
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    line-height: normal;
    padding-left:40px;
    display: block;
    text-align: left;
    padding-top:30px;
}

.about {
    display:grid;
    padding:180px 50px 0 50px;
    grid-template-columns: 430px 1fr;
    column-gap: 25px;
}

.about_logo {
    margin-left:95px;
    width: 240px;
    height:240px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#000;
    border-radius: 50%;
}

.about_logo-image {
    width:148px;
    height:114px;
}

.about_info {
    padding-top: 100px;
}

.about_title {
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom:100px;
}

.about_text {
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display:flex;
    flex-direction: column;
    gap:25px;
}

.footer {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:180px 50px 90px;
}

.footer_links-list {
    display:flex;
    flex-direction:column;
    text-align:center;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_links-list-item {
    list-style-type: none;;
}

.footer__social-list {
    max-width:240px;
    display: flex;
    gap:48px;
    
}

.footer__social-list-item {
   list-style-type: none;
}