header {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 92px 51px 92px 48px;
}

.header_logo-image {
    width: 100%;
    max-height: 105px;
}

.logo_div {
    display: flex;
    padding: 0 355px 4px 209px;
}

.dot {
    min-width: 7px;
    min-height: 7px;
    background-color: #ffffff;
    border: 1px solid;
    border-color:black;
    border-radius: 50%;
    display: inline-block;
    margin-right:7px;
} 

.header_links-list-item {
    display:inline-block;
    padding-left: 7px;
    
}

.header_link_active_item {
    padding-left: 0;
}

.header_link {
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
    border-bottom: 1px solid;
}

.header_link_active {
    border-bottom: none;
}

.adress a {
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-decoration: none;
}

.contact {
    border-bottom: 1px solid;
}

.title_section {
    width: 100%;
    height: 757px;
    position: relative;
    overflow: hidden;
    background: rgba(0,0,0);
}

.title_background {
    height: 100%;
    position:absolute;
    opacity: 0.4;
    z-index: 1;
}

.title_text {
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 165px;
}

.title_text_letter {
    position:relative;
    left:30px;
}

.title_text_letter_right {
    position:relative;
    right:30px;
}

.letter_o {
    letter-spacing: 0;
}

.title_text_first {
    display: flex;
    text-align: left;
    color: #FFF;
    font-family: Raleway,  Arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    width: 100%;
    padding-left: 50px;
    padding-right:50px;
    min-height: 115px;
    padding-bottom:20px;
}

.title_text_second {
    width: 100%;
    display: flex;
    color: #FFF;
    justify-content: center;
    text-align: center;
    font-family: Raleway,  Arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
    min-height: 100px;
    padding-bottom:20px;
    padding-left: 50px;
    padding-right: 110px;
}

.title_text_third {
    text-align: right;
    display: flex;
    color: #FFF;
    justify-content: flex-end;
    font-family: Raleway, Arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 30px;
    text-transform: uppercase;
    min-height: 100px;
    width: 100%;
    padding-left: 50px;
    padding-right:50px;
}

.title_footer {
    display: flex;
    padding-left: 37px;
    justify-content: center;
}

.title_footer_text {
    white-space: pre;
    z-index: 3;
    width: 633px;
    min-height: 28px;
    color: #FFF;
    text-align: center;
    font-family: Raleway,  Arial, sans-seriff;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    bottom: 62px;
    justify-items: center;
}

.title_footer_button {
    display: flex;
    justify-content: flex-end;
}
  

.title_footer_button_text {
    text-decoration: none;
    border: 1px solid #FFF;
    padding: 12px 32px 12px 32px;
    display: inline-block;
    bottom: 50px;
    right: 50px;
    position: absolute;
    z-index:3;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.lots {
  padding: 180px 50px 0;
  background-color: #f9f9f9;
  height:759px;
  }
  
.lots__heading {
  text-align: left;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position:relative;
  left:40px;
  margin-bottom: 27px;
  }
  
.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    width:100%;
    gap:25px;
  }
  
.lots__card-list-item {
    flex-grow: 1 ;
    min-height:450px;
    max-width: 430px;
}
  
.card-link {
    display: flex;
    text-decoration: none;
    position: relative;
    height:100%;
}
  
.card {
    position: relative;
    color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
  
.card-img {
    height: 100%;
    position:absolute;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_title,
.card_text {
    z-index: 2;
    text-align: left;
}

.card_title {
    padding-top:50px;
    padding-left:40px;
    padding-right:40px;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-transform: uppercase;
}
.card_type_film .card_text {
    padding-top:202px
}

.card_type_book .card_text {
    padding-top: 32px;
}

.card_type_picture .card_text {
    padding-top:80px;
}

.card_text {
    flex-shrink: 0;
    padding-left:40px;
    padding-right:40px;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.lots__look-more-link {
    max-width:192px;
    max-height:100%;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
    border-bottom: 1px solid;
    position:relative;
    left:40px;
    display: block;
    text-align: left;
    top:30px;
}

.about {
    display:grid;
    background-color: #f9f9f9;
    padding:180px 50px 0 50px;
    grid-template-columns: 430px 1fr;
    column-gap: 25px;
}

.about_logo {
    position:relative;
    left:95px;
    width: 240px;
    height:240px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#000;
    border-radius: 100%;
}

.about_logo-image {
    width:148px;
    height:114px;
}

.ttt {
    padding-top: 100px;
}

.about_title {
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom:100px;
}

.about_text {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display:flex;
    flex-direction: column;
    gap:25px;
}

.footer {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:180px 50px 90px;
    background-color: #f9f9f9;
}

.footer_links-list {
    display:flex;
    flex-direction:column;
    text-align:center;
}

.footer_links-list-item {
    display:inline-block;
}

.footer__social-list {
    display: flex;
    width:240px;
    justify-content: space-between;
    height:48px;
}

.footer__social-list-item {
    display:inline-block;
}